.footer{
    position:fixed; 
    bottom:0;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    background-color: blueviolet;
    padding:10px
}

.todos{
    margin: 50px;

}